ol{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
ol li{
  display: inline;
  font-size: 26px;
  background-color: rgba(0, 128, 0, 0.245);
  padding: 5px 25px;
  border-radius: 5px;
}